 h1 {
    color: black;
}

/* html,
body {
    position: relative;
    min-height: 100%;
}
 */


/* * {
    box-sizing: border-box;
} */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

@media (max-width: 575px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

/* .grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.col-form-label {
    display: none;
}

label {
    display: none;
} */


.signupbox {
    position: absolute;
    top: -15%;
    left: 5%;
    background: #444;
    width: 49%;
    height: 130%;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
    transition: all 0.5s ease-in-out;
    z-index: 2;
    padding: 2%;
}

.rightbox {
    position: absolute;
    width: 50%;
    transition: 1s all ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftbox {
    left: -2%;
}

.image {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 46%;
    text-align: center;
    opacity: 0.7;
}

h1 {
    text-align: center;
    margin-top: 6rem;
    text-transform: uppercase;
    color: #b9a8a8;
    font-size: 2em;
    letter-spacing: 8px;
}


body {
    padding-top: 60rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.box {
    background: rgb(138, 127, 127);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 65%;
    color: rgb(73, 59, 59);
    padding: 2%;
    margin-bottom: 9%;
}

.title {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1rem;
    font-size: 3rem;
    margin-bottom: 1%;
}

hr {
    width: 50%;
}

.guide {
    padding: 2% 15%;
    font-size: 1.5rem;
}

form {
    padding: 0 3%;
}

label {
    font-size: 1.5rem;
}

.form-control {
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: rgb(24, 53, 20);
}

.form-control:focus {
    border: 1px solid darkgoldenrod;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
} 