{%extends "django_registration/base.html"%}
{% load static %}
{%load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="home">
      <div class="signinbox">
        <div id="signin">
          <h1>sign in</h1>
          <form action="/accounts/login/" method="POST" class="more-padding" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button class="button submit btn btn-success" type="submit">Login</button>
        </form>
        </div>
      </div>      
        <h2 class="spacer"></h2>
        <p class="account">Don't have an account?</p>
        <a href="/accounts/register/"><button class="button signup btn btn-success">sign up</button></a>
      </div>
    </div>
   </div>
  
  </div>
{% endblock %}