<nav class="  pl-5 pr-5 navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="offset-3 navbar-brand font-weight-bold title" href="{% url 'index' %}"style="font: size 20px; font-weigth:bold">awwwards.</a>
      <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- content -->

    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          
          
        </li>
        {% if user.is_authenticated %}
        
        {% endif %}
      
        </ul>
       {% if user.is_authenticated %} 
       <form class = "form-inline" action="{% url 'search_results' %}">
         <div class="input-group-btn">
           <input type="text" class="form-control" placeholder="Search Project" name="project">
           <button class="btn btn-light" type="submit"><i class="glyphicon glyphicon-search"></i>Find</button>
        </div>
      </form>
      {% endif %}
      <div class="col-sm-6 col-lg-6 d-flex justify-content-end">
          {% if user.is_authenticated %}
          <ul><li class="nav-item">

            <a class="nav-link btn btn-block text-white success-color-dark" href="{%url 'new_project'%}">SUBMIT YOUR WEBSITE </a>
            </li>
          </ul>
          
        <div>
          <li class="dropdown list-unstyled text-white">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user" style="color: rgb(238, 229, 229);"></i> My Account </a>
            <ul class="dropdown-menu dropdown-default" role="menu">
              <li>
                  <a class="dropdown-item" href="{%url 'profile'%}">Profile</a>
                </li>

              <li>
                <a class="dropdown-item" href="/logout/">Logout</a>
              </li>
            </li>
            </ul>
        </ul>
        {% else %}
        <li class="list-unstyled">
            <a class='btn btn-outline-light font-weight-bold' href="/accounts/login/" style="font-size: 15px;">REGISTER/LOGIN</a>
            <!-- <a class='btn btn-outline-warning font-weight-bold' href="/accounts/register/"style="font-size: 15px;">Sign Up</a> -->
            <!-- <a class="nav-link btn btn-block text-white success-color-dark" href="{%url 'new_project'%}">SUBMIT YOUR WEBSITE </a> -->
        </li>
        <ul><li class="nav-item">

          <a class="nav-link btn btn-block text-white success-color-dark" href="{%url 'new_project'%}">SUBMIT YOUR WEBSITE </a>
        </li></ul>

        {% endif %}
  </div>

</div>
<!-- Collapsible content -->
</nav>