{%extends "base.html"%}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid mb-4 pb-4" style="height: 100%;">
 <div style="background:url('https://images.pexels.com/photos/3694711/pexels-photo-3694711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')"> 


  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8 mt-4 pt-2 ">
            <div class="pb-2">
                {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="" class="d-flex justify-content-t rounded-circle mb-1 img-fluid mr-1" style="width: 150px;">
            {% else %}
            <img src="https://images.unsplash.com/photo-1626684328484-b34e8a6e56c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="" class="d-flex justify-content-t rounded-circle mb-1 img-fluid mr-1" style="width: 150px;">
              {% endif %}
                <h4> <span class="font-weight-bold"> Username:</span>  {{user.username}} </h4>
        <p> <span class="font-weight-bold"> Email:</span>  {{user.email}} </p>
        <p> <span class="font-weight-bold"> Bio:</span> {{ user.profile.bio}}  </p>
        <button class="btn btn-md btn-outline-info font-weight-bold" data-toggle="modal" data-target="#profile"> Edit Profile</button>
        </div>
        <hr>

        <h4 class="font-weight-bold">My Projects</h4>
        <hr>
        {% if projects %}
        {% for project_item in projects%}
        <a href="/project/{{project_item.id}}"><img src="{{ project_item.project_image.url }}" alt="" class="rounded img-fluid mr-1 pt-1 pb-1" style="width: 300px; height: 300px;"></a>
        {% endfor %}

        {% else %}
        <p>You have not submitted any projects</p>
        {% endif %}
        


        
    </div>
    <!-- empty div -->
    <div class="col-lg-2"></div>

  </div>
</div>

<!-- Modal ts here -->
<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModal3Label"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                 <div>
                  <!-- profile update form  -->
                        <h4 class="font-weight-bold">Update Your Profile</h4>
                        <hr class="">
                        <form  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form%}

                        <div class="form-group">
                        <button type="submit" class="btn blue-gradient btn-lg mt-2 font-weight-bold btn-block"> Update </button>
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>
                </div>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}